// Static replacements
replacements {
  R_NAME "Repository name"
  R_DESC "Repository description"
  R_AUTHOR "Repository author"
}

// Actions to perform on files
actions {
  suite name="init" {
    copy from="path/to/file/or/dir" to="path/to/target"
    copy from="glob/pattern" to="path/to/target/dir"

    // Can also be used to rename files or directories
    move from="path/to/file/or/dir" to="path/to/target"
    move from="glob/pattern" to="path/to/target/dir"

    delete "path/to/file/or/dir"
    delete "glob/pattern"
  }

  suite name="lint" requires="init" {
    run "cargo fmt"
  }

  suite name="git" requires="init lint" {
    run "git init"
    run "git add ."
    run "git commit -m 'chore: init'"
  }
}
